<div class="field required">
    <label class="label" for="linkedin_profile">
        <span><?php echo __('linkedin profile '); ?></span>
    </label>
    <div class="control">
        <input type="url" maxlength="250" name="linkedin_profile" id="linkedin_profile" value=""
               title="<?php echo __('linkedin profile'); ?>" class="input-text" data-validate="{required:true}">

    </div>
</div>
