<?php

/** @var Info $block */


use Magento\Customer\Block\Account\Dashboard\Info;

$linkedinProfile = $_SESSION["linkedin_profile"];
?>

<form class="form form-edit-account"
      action="<?= $block->escapeUrl($block->getUrl('registration/customer/EditLinkedinUrl')) ?>"
      method="post" id="form-validate"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      autocomplete="off">

    <div class="field required">
        <b> <label class="label" for="linkedin_profile"></label>
            <span><?php echo __('linkedin profile '); ?></span>
            <br> <br>
        </b>

        <div class="control">
            <input type="url" name="linkedin_profile" id="linkedin_profile" size="15"
                   title="<?php echo __('linkedin profile'); ?>" class="input-text"
                   value="<?php echo $linkedinProfile; ?>">

        </div>
    </div>
    <br>
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action save primary">
                <span>Save</span>
            </button>
        </div>

    </div>
</form>
