<?php

/** @var Info $block */


// Get an instance of the session
use Magento\Customer\Block\Account\Dashboard\Info;

$om = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $om->get('Magento\Customer\Model\Session');
//get all data of customerData
$customerData = $customerSession->getCustomer()->getData();
$linkedinProfile = $customerData["linkedin_profile"];
$_SESSION["linkedin_profile"] = $linkedinProfile;
?>

<p><b>Linkedin Profile : </b> </p>
<?php echo $linkedinProfile; ?>
<br>
<br>
<div class="box-actions">
    <a class="action edit" href="<?= $block->escapeUrl($block->getUrl('registration/customer/index')) ?>">
        <span><?= $block->escapeHtml(__('Edit')) ?></span>
    </a>
</div>


